@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inder&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Nunito&family=Orelega+One&family=Philosopher&family=Poor+Story&family=Prompt&family=Quattrocento&family=Roboto:wght@300;400;700&family=Rubik+Dirt&family=Space+Mono&family=Special+Elite&display=swap');

* {
    /* If you add padding or margin does not affect widht of box */
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.empty {
    width: 150px;
    height: 150px;
    background-color: #fff;
    margin: 10px;
    border: solid 3px black;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
    
}